

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.big {
  font-size: 30px;
}

.Button {
  border: 1px solid blue;
  padding: 10px;
  background-color: green;
  font: inherit;
  color: white;
  transition: 250ms;
}

.Button:hover {
  cursor: pointer;
  background-color: lightgreen;
  color: black;
}

.Button.Red {
  background-color: red;
}

.Button.Red:hover {
  background-color: salmon;
}
