.App {
  text-align: center;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.big {
  font-size: 30px;
}

.App button {
  border: 1px solid blue;
  padding: 12px;
  background-color: green;
  font: inherit;
  color: white;
  transition: 250ms;
}

.App button:hover {
  cursor: pointer;
  background-color: lightgreen;
  color: black;
}

.App button.Red {
  background-color: red;
}

.App button.Red:hover {
  background-color: salmon;
}
